.env
.venv
*.h5
output/
lora_lhco/
__pycache__/
*.pyc
kept_checkpoints/
*.masterKey
additional_datasets/
docs/site/
logs/
processed_lhco_dataset/
fastjet-output/
articles/
lacathode_input_data/
rag_db/
sk_cathode/
trained_models/
sk_cathode/
graphs/
toolout/
jobs/
debug_logs/